header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: darkblue;
    color: white;
  
}

.nav1 a {
 display: flex;
 align-items: flex-end;
 justify-content: flex-end;
 margin-top: 0;
 color: red;
}


main {
    background-color: white;
}

h2 {
   align-content: flex-end;
   display: flex;
   
}

p {
    display: flex;
    justify-content: flex-start;
}

